@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --cor1: #ffffff;
  --cor2:  #2e8bd8;
  --cor3:  #1B2A38;
  --cor4: #0f0f0f;
  --cor5: rgb(212, 212, 212);
}

body {
  height: 100%;
  margin: 0;
  background-image: url(./img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
}

header .navbar-text {
  color: var(--cor1);
}

header .nav-link {
  color: var(--cor1);
  border-radius: 11px;
}

header .nav-link:hover {
  color: var(--cor5);
  background-color: var(--cor2);
  border-radius: 11px;
}

#cf1 {
  position: absolute;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: auto;
}

#cf1 h1 {
  font-size: 5em;
  text-align: center;
  color: var(--cor1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}

#cf1 h2 {
  font-size: 3.5em;
  text-align: center;
  color: var(--cor1);
}

#carouselExampleCaptions,
#carouselExampleCaptions .carousel-inner,
#carouselExampleCaptions .carousel-item,
#carouselExampleCaptions img {
  width: 100%;
  height: auto;
}

#carouselExampleCaptions {
  border-bottom: 5px solid var(--cor3);
}

#carouselExampleCaptions img {
  filter: brightness(50%);
}

#cf2 h1 {
  color: var(--cor3);
  text-align: center;
  font-size: 5em;
}

main .row {
  margin: auto;
  width: 80%;
}

main .row a {
  text-decoration: none;
}

main .card-title {
  color: var(--cor3);
}

main .card-text {
  color: var(--cor4);
}

main .card {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
}

main #text {
  width: 65%;
  margin: auto;
  margin-top: 26px;
}


main #text p {
  text-indent: 30px;
  font-size: 1.2em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main #text a {
  border-radius: 11px;
  color: var(--cor3);
  padding: 3px;
  font-weight: 950px;
}

main #text img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 11px;
}

main #text1 {
  width: 65%;
  margin: auto;
  padding: 8px;
}

main #text1 p {
  text-indent: 30px;
  font-size: 1.3em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main .biografia {
  background-color: var(--cor2);
  padding: 15px;
  
}

main .biografia p {
  margin: 0;
  color: var(--cor1);
}

main .biografia h2 {
  color: var(--cor1);
}

table {
  width: 100%;
  max-width: 75%;
  margin: auto;
  background: #f9dfe9;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
  border-radius: 12px;
  overflow: hidden;
}

table th,
td {
  border: 1px solid #d68aa8;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

table td:hover {
  transform: scale(1.05);
  background-color: rgb(206, 122, 218);
  border-radius: 11px;
}

table th {
  background: #ddb2c3;
  color: white;
}

table .horario {
  background: #f0bfd5;
  font-weight: bold;
  width: 90px;
}

table .intervalo {
  background: #f5c8da;
  font-weight: bold;
  text-align: center;
  color: #5a2d43;
}

table .abertura {
  background: #f5c8da;
  font-weight: bold;
  text-align: center;
  color: #5a2d43;
}

footer {
  background: var(--cor3);
  color: var(--cor1);
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.container-footer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.row-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.footer-col h4 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: var(--cor1);
  text-decoration: none;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: var(--cor5);
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(750px, 1fr));
  padding: 20px;
}

.album {
  background-color: var(--cor3);
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s ease;
  text-align: center;
  transform: scale(0.80);
}

.album:hover {
  transform: scale(0.83);
}

.album img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: auto;
}

.album h3 {
  margin-top: 15px;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--cor1);
}

.album p {
  font-size: 0.9em;
  color: var(--cor1);
  margin-top: 5px;
}

.card.card-body {
  background-color: var(--cor2);
  color: var(--cor1);
  border: 2px solid var(--cor3);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.btn.btn-primary {
  background-color: var(--cor3);
  border-color: var(--cor2);
  color: var(--cor1);
}

.btn.btn-primary:hover {
  background-color: var(--cor2);
}


@media (max-width: 768px) {

  header .navbar-text {
  font-size: 0.8em;
}

header .nav-link {
  font-size: 0.75em;
}

  main #text p {
    font-size: 0.9em;
  }

  main #text1 p {
    font-size: 0.9em;
  }


  .row-footer {
    grid-template-columns: repeat(2, 1fr);
  }

  #cf1 {
    width: 45%;
    height: auto;
  }

  #cf1 h1 {
    font-size: 2em;
    text-align: center;
    color: var(--cor1);
  }

  #cf1 h2 {
    font-size: 1em;
    text-align: center;
    color: var(--cor1);
  }

  .row-footer {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
